<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浪客小狼</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>

<div id="header">
	<div class="header">
		<div class="header_logo">
		</div>
		<div class="header_info">
			今天你浪了吗？
		</div>
	</div>
</div>

<div id="content">
	<div class="text">
		今天无事发生
	</div>

</div>

<div id='footer'>
	<div class="footer">
		<div class="text">
			&copy;2020 浪客小狼
			<a href="http://beian.miit.gov.cn">粤ICP备20057840号-1</a>
		</div>
	</div>
</div>

</body>
</html>